@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/LogoLargo.jpeg" alt="Logo Largo" class="img-fluid" />
    <h1 class="display-4">Bienvenidos al sistema de asignación de equipos</h1>
    <p>La productora de huevos más grande de El Salvador. <b>Del Nido a Tu Mesa</b></p>
    <p></p>
</div>
